<a href="https://colab.research.google.com/github/finesun16/netology_pyda_27_hw/blob/master/hw10_pandas_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

##Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [20]:
from zipfile import ZipFile
archive = 'drive/MyDrive/Colab Notebooks/netology_pyda27_hw/data/ml-25m.zip'
zip_file = ZipFile(archive)

# dfs = {text_file.filename: pd.read_csv(zip_file.open(text_file.filename))
#        for text_file in zip_file.infolist()
#        if text_file.filename.endswith('.csv')}
# dfs

In [18]:
import zipfile
with zipfile.ZipFile(archive, 'r') as zip_file:
    # zip_file.extract('ml-25m/ratings.csv',  '.'),
    # zip_file.extract('ml-25m/movies.csv', '.')
    zip_file.extractall('drive/MyDrive/Colab Notebooks/netology_pyda27_hw/data/')

In [19]:
df = pd.read_csv('drive/MyDrive/Colab Notebooks/netology_pyda27_hw/data/ml-25m/ratings.csv')
df.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000095 entries, 0 to 25000094
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 762.9 MB

In [39]:
movies = pd.read_csv('drive/MyDrive/Colab Notebooks/netology_pyda27_hw/data/ml-25m/movies.csv')
movies.head(3)

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance

[3 rows x 3 columns]

In [45]:
df_new = df.merge(movies, on='movieId', how='left')
df_new.head(5)

   userId  ...                       genres
0       1  ...  Comedy|Crime|Drama|Thriller
1       1  ...                        Drama
2       1  ...                        Drama
3       1  ...             Comedy|Drama|War
4       1  ...       Comedy|Musical|Romance

[5 rows x 6 columns]

In [47]:
df_new[df_new.rating == 5.0].title.value_counts().index.values[0]

'Shawshank Redemption, The (1994)'

In [48]:
df_new[df_new.rating == 5.0].title.value_counts().values[0]

39553

In [49]:
print(f'Фильму {df_new[df_new.rating == 5.0].title.value_counts().index.values[0]} поставили наибольшее количество оценок {df_new[df_new.rating == 5.0].title.value_counts().values[0]}')

Фильму Shawshank Redemption, The (1994) поставили наибольшее количество оценок 39553

## Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [51]:
power = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/netology_27_pyda/Лекции/09_pandas_basics/power.csv')
power.head(5)

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [63]:
power[(power.country.isin(['Estonia', 'Latvia', 'Lithuania'])) \
      & power.category.isin([4,12,21]) \
      & (power.year >= 2005) & (power.year <=  2010) \
      & (power.quantity > 0)].quantity.sum()

240580.0

## Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

#### Примеры страниц 
https://fortrader.org/quotes

https://www.finanz.ru/valyuty/v-realnom-vremeni

(необязательно брать именно эти):

In [67]:
df_html = pd.read_html('https://fortrader.org/quotes')
df_html[1]

                              Название    Цена  ...  Изменение(%)  Обновлено
0       Нефть Brent Курс нефти сегодня   70.22  ...          1.80        NaN
1          Нефть WTI Цены на нефть WTI   67.03  ...          1.15        NaN
2  Природный газ Цена на природный газ    4.10  ...         -4.85        NaN
3                                 Кофе  237.50  ...          2.26        NaN
4                             Кукуруза  577.00  ...          1.05        NaN
5                                  Соя  348.20  ...         -0.43        NaN
6                               Хлопок  103.70  ...         -0.47        NaN

[7 rows x 5 columns]

In [68]:
df_html[3]

                                        Название  ... Обновлено
0                                  ВТБ Акции ВТБ  ...       NaN
1                         Газпром Акции газпрома  ...       NaN
2                            Лукойл Акции Лукойл  ...       NaN
3                        Роснефть Акции Роснефти  ...       NaN
4                       Сбербанк Акции Сбербанка  ...       NaN
5           Сургутнефтегаз Акции Сургутнефтегаза  ...       NaN
6                      Норникель Акции Норникель  ...       NaN
7                       Аэрофлот Акции Аерофлота  ...       NaN
8                    Северсталь Акции Северсталь  ...       NaN
9                    Транснефть Акции Транснефть  ...       NaN
10             Ростелеком Курс акций ростелекома  ...       NaN
11                      РУСАЛ Акции РУСАЛ (RUAL)  ...       NaN
12      Детский мир iDreamSky Technology Limited  ...       NaN
13             Петропавловск Акции Петропавловск  ...       NaN
14                    Алроса Акции АЛРОСА (ALRS)  ...       NaN
15                    Магнит Акции Магнит (MGNT)  ...       NaN
16                        НМЛК Акции НЛМК (NLMK)  ...       NaN
17                  М.видео Акции М.видео (MVID)  ...       NaN
18    Газпром нефть Акции "Газпром нефть" (SIBN)  ...       NaN
19                        НМТП Акции НМТП (NMTP)  ...       NaN
20            Полиметалл Акции Полиметалл (POLY)  ...       NaN
21        Полюс Золото Акции Полюс Золото (PLZL)  ...       NaN
22                  НОВАТЭК Акции НОВАТЭК (NVTK)  ...       NaN
23                РусГидро Акции РусГидро (HYDR)  ...       NaN
24                Татнефть Акции Татнефть (TATN)  ...       NaN
25        АФК Система Акции АФК "Система" (AFKS)  ...       NaN
26                                 МТС Акции МТС  ...       NaN
27                Башнефть Акции Башнефть (BANE)  ...       NaN
28                    Яндекс Акции Яндекс (YNDX)  ...       NaN
29  X5 Retail Group Акции X5 Retail Group (FIVE)  ...       NaN
30                  ФСК ЕЭС Акции ФСК ЕЭС (FEES)  ...       NaN
31                      Мечел Акции Мечел (MTLR)  ...       NaN
32                МосБиржа Акции МосБиржа (MOEX)  ...       NaN
33              Интер РАО Акции Интер РАО (IRAO)  ...       NaN
34              Mail.ru Акции Mail.ru (MAIL, ДР)  ...       NaN
35                        Киви Акции Киви (QIWI)  ...       NaN
36                  Лента Акции Лента (LNTA, ДР)  ...       NaN
37            Тинькофф Акции Тинькофф (TCSG, др)  ...       NaN
38                                       TGKA.MM  ...       NaN
39                        Озон Акции Озон (Ozon)  ...       NaN

[40 rows x 5 columns]