<a href="https://colab.research.google.com/github/finesun16/netology_pyda_27_hw/blob/master/hw6_errors_datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Задание 1
Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:

*   The Moscow Times - Wednesday, October 2, 2002
*   The Guardian - Friday, 11.10.13
*   Daily News - Thursday, 18 August 1977

In [68]:
from datetime import datetime
from datetime import timedelta

In [6]:
date_string_mt = 'Wednesday, October 2, 2002'
datetime.strptime(date_string_mt, '%A, %B %d, %Y')

datetime.datetime(2002, 10, 2, 0, 0)

In [12]:
date_string_g = 'Friday, 11.10.13'
datetime.strptime(date_string_g, '%A, %d.%m.%y')

datetime.datetime(2013, 10, 11, 0, 0)

In [13]:
date_string_dn = 'Thursday, 18 August 1977'
datetime.strptime(date_string_dn, '%A, %d %B %Y')

datetime.datetime(1977, 8, 18, 0, 0)

## Задание 2
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [35]:
def check_datestream(stream):
  for date in stream:
    try:
        datetime.strptime(date, '%Y-%m-%d')
        print(date, True)
    except:
        print(date, False)

In [36]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']
check_datestream(stream)

2018-04-02 True
2018-02-29 False
2018-19-02 False

## Задание 3
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [50]:
def check_dates(date):
    try:
        return datetime.strptime(date, '%Y-%m-%d')
    except:
        pass

In [49]:
check_dates(date = '2018-19-02')

In [66]:
def date_range(start_date, end_date):
    start_date = check_dates(start_date)
    end_date = check_dates(end_date)
    dates = []
    if start_date is None or end_date is None or start_date > end_date:
        return dates
    else:
        current_date = start_date
        while current_date <= end_date:
            dates.append(current_date.strftime('%Y-%m-%d'))
            current_date += timedelta(days=1)
        return dates

In [73]:
date_range('2021-10-01', '2021-10-10')

['2021-10-01',
 '2021-10-02',
 '2021-10-03',
 '2021-10-04',
 '2021-10-05',
 '2021-10-06',
 '2021-10-07',
 '2021-10-08',
 '2021-10-09',
 '2021-10-10']